* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #191A2A
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/icons/header_bg.svg");
    background-color: #191A2A;
    order: -1;
    color: white;
    height: 65px;
    width: 100%;
    padding-left: 97px;
    padding-right: 32px;
    position: relative;
    z-index: 0;
}

main {
    padding-left: 55px;
}

.header-logo {
    height: 100%;
}

.header-logo > img {
    display: block;
    height: 100%;
    max-width: 167px;
}

.header-block_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.response.log {
    display: none;
}
.response.log > .bi-door-open {
    color: #fff;
   font-size: 20px;
}

/* nav */

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-image: url("../images/icons/sidebar_bg.svg");
    background-color: #191A2A;;
    height: 100%;
}

.navigation-btn {
    color: #ffffff;
    background: linear-gradient(180deg, #F1592C 0%, #FFB62B 100%);
    background-size: cover;
    width: 65px;
    height: 65px;
    position: relative;
}

.navigation-btn:after, .navigation-btn:before,.navigation-btn > span {
    content: "";
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 2.5px;
    border-radius: 2px;
    background-color: #fff;
}

.navigation-btn > span {
    top: 30px;
    width: 25px;
    margin-left: 2.5px;
}

.navigation-btn:after {
    top: 37px;
}

.navigation-lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    max-width: 65px;
    overflow: hidden;
}

.navigation-list {
    list-style-type: none;
    margin-bottom: 8px;
}

.navigation-link {
    text-align: center;
    display: none;
}

.navigation-list > button {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
}

.navigation-list > button > i {
    font-size: 24px;
}

.nav-icon {
    color: #fff;
    font-size: 22px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.nav-icon:hover {
    color: #FFB62B;
}

.static_menu {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: none;
    width: 100%;
    padding: 0px 32px 16px;
    z-index: 4;
}

/* mobile-menu */

.navigation-mobile {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 0px 32px 16px;
    z-index: 4;
    display: none;
}

.navigation-content {
    display: flex;
    width: 100%;
    min-height: 58px;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(247, 247, 247);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 50px;
    padding: 0;
}

.navigation-item {
    flex: 1 1 0%;
    list-style-type: none;
    border-radius: 5px !important;
}

.navigation-item-btn {
    height: 100%;
    border: none;
    padding: 2px 5px;
    font-size: 13px;
    width: 100%;
}

.navigation-item-btn > i {
    font-size: 22px;
}

.navigation-item-btn.active {
    color: #fff;
    background: linear-gradient(180deg, #F1592C 0%, #CF3020 100%);
    text-decoration: none;
    white-space: initial;
    text-transform: none;
    user-select: none;
}

/* main */

.carousel-item-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    background-size: cover;
    background-repeat: no-repeat;
}

.info-block.response {
    display: none;
}

.carousel-indicators {
    margin-right: 0;
    justify-content: flex-end;
    padding: 10px;
}

.carousel-indicators > .slide {
    margin: 0 6px;
    border-radius: 50%;
    color: transparent;
    padding: 5px;
    background: #fff;
    display: block;
    height: 10px;
    width: 10px;
    border: 0;
    position: relative;
}

.carousel-indicators > .slide.active:before {
    content: "";
    display: block;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height:55%  ;
    width: 55%;
    background-color: rgb(245, 46, 46);
}

.carousel-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 50px;
    backdrop-filter: blur(24px);
    -webkit-mask-image: linear-gradient(to right, #000 71%, #0000 100%);
    mask-image: linear-gradient(to right, #000 71%, #0000 100%);
}

.info-text > span{
    color: #ffffff;
    font-size: 20px;
    line-height: 41.45px;
    font-weight: 600;
}

.info-text > span:nth-of-type(2) {
    font-size: 40px;
}

/* tabs */

.tabs {
    padding: 0 15px;
}

.nav-item .active {
    background: linear-gradient(180deg, #F1592C 0%, #FFB62B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    margin: 0 7px;
}

.nav-item > button > i  {
    background: linear-gradient(180deg, #fff 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item {
    background: linear-gradient(180deg, #fff 0%, #fff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Blinker", sans-serif;
    position: relative;
    margin: 0 7px;
    flex: 1 0 auto;
    display: flex;
    justify-content: center; 
    color: #fff;
}

.nav-link  {
    background: linear-gradient(180deg, #F1ff592C 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Blinker", sans-serif;
    font-weight: 600;
    color: #fff;
}

.nav-link > i {
    font-size: 13px;
    margin-right: 7px;
}

.nav-tabs {
    border-bottom: none;
    flex: 1;
    align-items: center;
    margin: 0 12px 0 0;
}

.nav-tabs .nav-link {
    border: none;
    outline: none;
}

.nav-item:after  {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.5px;
    border-radius: 3px 3px 0 0 ;
    background: linear-gradient(180deg, #F1592C 0%, #FFB62B 100%);
    display: none;
}

.nav-item:hover:after, .nav-item.active:after {
    display: block;
}

.nav-item:hover {
    background: linear-gradient(180deg, #F1592C 0%, #FFB62B 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    isolation: auto;
}

/* card tab */

.card-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: 23.5%;
    margin: 6px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.card:hover .card-footer span:first-child{
    display: none;
}
.card:hover .card-footer span:last-child{
    display: block;
}

.card:hover .card-block {
    visibility:visible;
    background-color: #000000ce;
}

.card-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 25px 0 20px 0;

}

.card-footer {
    text-align: center;
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    color: black;
}

.card-description {
    position: relative;
    height: 100%;
    background-size: cover;
    object-fit: fill;
}

.card-block {
    visibility:hidden;
}

.card-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.card-footer {
    color: #000;
}

.card-footer span:first-child {
    display: block;
}

.card-footer span:last-child {
    display: none;
}

.card-footer span:last-child > i {
    background-color: #000;
    color: #fff;
    margin-right: 10px;
}

/* footer */

footer {
    background-color: #070817;
    margin-top: 50px;
    padding-top: 10px;
    
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px;
    position: relative;
}

.footer-link {
    width: 20%;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    list-style-type: none;
}

.footer-link > a {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease;
    font-family: "Blinker", sans-serif;
}

.footer-link > a:hover{
    color: #FFB62B;
}

.language {
    position: absolute;
    top: 25px;
    right: 15px;
    cursor: pointer;
}

.language > img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.language > span {
    text-shadow: 0 0 4px #ffffff;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

/* card */
.visa-card {

    background-color: #191A2A;
    padding: 40px;
    border-radius: 15px;
    margin: 0 auto 40px;
    width: calc(100% - 10px);
    max-width: max-content;
    border: 2px solid #252525;
}

.visa-card-img {
    width: 100px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
}

.company-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

.company-list > li {
    width: 120px;
    height: 50px;
    list-style-type: none;
    padding: 5px 10px;
    cursor: pointer;
}

.footer-icon-18 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-icon-18 > img {
    margin-bottom: 20px;
    width: 180px;
    height: 65px;
}

.copy {
    font-family: "Blinker", sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
   text-align: center;
    padding-bottom: 15px;
    margin: 0;
}

/* media */

@media (max-width: 1024px) {
    .carousel-info {
        visibility: hidden;
    }    

    .carousel-indicators {
        justify-content: center;
        margin-left: 0;
        top: 50%;
    }

    .info-block.response {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .info-block > button {
        width: 20%;
        margin-top: -10px;
    }
    
    .info-text > span {
        line-height: 20px;
    }

    /* card */

    .card {
        width: 31%;
        height: 100%;
    }

    .btn.cardd.log {
        display: none;
    }

    /* footer */

    .footer-links {
        margin-bottom: 50px;
    }

    .footer-link {
        width: 100%;
        margin: 0;
        font-weight: bold;
    }

    .company-list {
        padding: 0 50px;
    }

    .language {
        position: absolute;
        top: 100%;
        left: 49%;
    }
}

@media (max-width: 768px) {
    header {
        padding-left: 75px;
    }
    
    .navigation-lists {
        display: none;
    }

    .navigation {
        height: 0;
    }

    main {
        padding: 0;
    }

    .tab-content {
        padding: 10px;
    }
}

@media (max-width: 500px) {

    /* scroll */

    .scroll-btn {
        bottom: 20%;
        
    }

    header {
        padding-left: 60px;
        padding-right: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }

    .navigation-btn {
        width: 55px;
        height: 55px;
        position: fixed;
        z-index: 1000;
    }

    .header-logo > img {
        max-width: 127px; 
    }

    .header-block_btn .btn.log {
        display: none;
    }

    .response.log{
       display: block;
       padding: 0 5px;
    }

    /* main */

    main {
        margin-top: 55px;
    }

    /* slider */

    .carousel-info {
        padding: 0;
    }

    .carousel-indicators {
        top: 38%;
    }

    .carousel-indicators > .slide {
        width: 1px;
        height: 1px;
        margin: 0 3px;
    }

    .info-block > button {
        width: 50%;
        margin-top: -10px;
    }

    .info-text > span {
        line-height: 10px;
        font-size: 14px!important;
    }

    /* tabs */

    .nav-tabs {
        flex-wrap: nowrap;
        overflow: hidden;
    }

    /* card */

    .card {
        width: 45%;
    }

    /* footer */

    .company-list {
        padding: 0;
    }

    .visa-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .language {
        left: 46%;
    }

    /* navigation-btn */
    .navigation-btn:before {
        top: 17px;
    }
    
    .navigation-btn > span {
        top: 22px;
    }
    
    .navigation-btn:after {
        top: 27px;
    }

    .navigation-mobile {
        display: block;
    }
}